span{
    font-size: 53px;
}
@for $i from 1 through 35{
    .letter-animate._#{$i}{
        animation-duration: #{$i*.25s};
        animation-name: fadeIn;
    }
}
.letter-animate-hover{
    &:hover{
        color: black;
        animation-name: fadeOut;
        animation-duration: 4s;
    }

    
}