.header{
    position: relative;
    h1{
        position: absolute;
        top: 50%;
        bottom: 50%;
        left: 40%;
        color: white;
        text-align: center;
        font-size: 40px;
    }
}