.logos{
    display: flex;
    justify-content: center;
    img{
        opacity: 0;
        display: inline;
        width: 20%;
        transition: all 5s;

    }
    .show{
        opacity: 1;
    }
    }
   


