
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font:300 11px/1.4 "Helvetica Neue" ,"Sans Seriff";
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: #022c43;
    font-size: 40px;
}

